.swagger-section #header {
  background-color: white;
}
.swagger-section #header form#api_selector .input a#explore {
  background-color: red;
  border-radius: 0;
}
.swagger-section #header form#api_selector .input a#explore:hover {
  background-color: red;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading {
  background-color: #e6e6e6;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content {
  background-color: #e6e6e6;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a {
  color: red;
}
#api-selector {
  border-radius: 0;
  height: 27px;
  font-size: 0.9em;
  padding: 3px;
  margin: 0;
  width: 200px;
  background-color: white;
  border-radius: 0 !important;
}
