{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Catalog Component",
    "description": "http://itwiki.g1.frgroup/display/DM/Catalog+Platform",
    "contact": {
      "name": "Catalog PF Team",
      "url": "http://itwiki.g1.frgroup/display/DM/Catalog+Platform",
      "email": "kristian.faeldt@fastretailing.com"
    }
  },
  "host": "api.fastretailing.com",
  "basePath": "/catalog",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "parameters": {
    "brand":
    {
      "name": "brand",
      "in": "path",
      "description": "Brand",
      "type": "string",
      "required": true,
      "default": "uq",
      "enum": [
        "uq",
        "gu"
      ]
    },
    "region":
    {
      "name": "region",
      "in": "path",
      "description": "Region",
      "type": "string",
      "required": true,
      "default": "jp",
      "enum": [
        "jp"
      ]
    },
    "clientid": {
      "name": "clientID",
      "in": "query",
      "description": "Client ID",
      "type": "string",
      "required": true,
      "default": "mobileweb"
    },
    "locale": {
      "in": "query",
      "name": "locale",
      "description": "Locale",
      "type": "string",
      "required": false,
      "default": "ja"
    }
  },
  "paths": {
    "/v1/{brand}/{region}/item/detail": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          },
          {
            "$ref": "#/parameters/locale"
          }
        ]
      }
    },
    "/v1/{brand}/{region}/item/list": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          },
          {
            "$ref": "#/parameters/locale"
          },
          {
            "in": "query",
            "name": "productID",
            "description": "L1 Code(s)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "onlineID",
            "description": "PUB Code(s)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "sku",
            "description": "SKU(s)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "plu",
            "description": "PLU(s)",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "count",
            "description": "Limit",
            "type": "integer",
            "required": false,
            "format": "int32",
            "minimum": 1,
            "maximum": 50
          },
          {
            "in": "query",
            "name": "start",
            "description": "Initial offset",
            "type": "integer",
            "required": false,
            "format": "int32",
            "minimum": 0,
            "maximum": 1000            
          }
        ]
      }
    },
    "/v1/{brand}/{region}/item/search": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          },
          {
            "$ref": "#/parameters/locale"
          }
        ]
      }
    },
    "/v1/{brand}/{region}/review/search": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          },
          {
            "$ref": "#/parameters/locale"
          }
        ]
      }
    }
  }
}
