{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Catalog Component",
    "description": "http://itwiki.g1.frgroup/display/DM/Catalog+Platform",
    "contact": "kristian.faeldt@fastretailing.com"
  },
  "host": "api.fastretailing.com",
  "basePath": "/catalog",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "parameters": {
    "brand":
    {
      "name": "brand",
      "in": "path",
      "description": "Brand",
      "type": "string",
      "required": true,
      "default": "uq",
      "enum": [
        "uq",
        "gu"
      ]
    },
    "region":
    {
      "name": "region",
      "in": "path",
      "description": "Region",
      "type": "string",
      "required": true,
      "default": "jp",
      "enum": [
        "jp"
      ]
    },
    "clientid": {
      "name": "clientID",
      "in": "query",
      "description": "Client ID",
      "type": "string",
      "required": true,
      "default": "mobileweb"
    }
  },
  "paths": {
    "/v1/{brand}/{region}/item/detail": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          }
        ]
      }
    },
    "/v1/{brand}/{region}/item/list": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          }
        ]
      }
    },
    "/v1/{brand}/{region}/item/search": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          }
        ]
      }
    },
    "/v1/{brand}/{region}/review/search": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/brand"
          },
          {
            "$ref": "#/parameters/region"
          },
          {
            "$ref": "#/parameters/clientid"
          }
        ]
      }
    }
  }
}
