swagger: '2.0'
info:
  title: Store Catalog API Specifications (consumer)
  description: >-
    This is the complete specification of Uniqlo (Fast Retailing) Store Catalog
    System. <br>

    Please note that this document covers API version 200 only which at the time
    of writing this document is the most recent version and being used in
    production.<br>

    This API documentation is based on the API specification document avaiable at
    <a
    href="https://yumemi.sharepoint.com/projects/20012062700/_layouts/15/WopiFrame.aspx?sourcedoc={530859D5-FFBF-41BB-8445-0FA04D5DF12A}&file=StoreCatalogAPISpecification.docx&action=default">Store
    Catalog API Spec 5th Ed</a>
  termsOfService: Please check Uniqlo terms of service avaiable at uniqlo.com prior to using this API.
  version: '200'
  contact:
    name: Yumemi Corporation
    url: www.yumemi.co.jp
    email: info@yumemi.co.jp
  license:
    name: Proprietry Uniqlo license
    url: 'http://www.uniqlo.com/licenses/api-license'
host: api.fastretailing.com
schemes:
  - https
basePath: /catalog
consumes:
  - application/json
  - application/javascript
produces:
  - application/json
  - application/javascript
paths:
  '/{version}/{brand}/{locale}/store/status':
    get:
      summary: Store Status
      description: |
        This endpoint returns product stock status of the store.
      parameters:
        - $ref: '#/parameters/localeParam'
        - $ref: '#/parameters/brandParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/clientId'
        - name: callback
          in: query
          description: Callback function name. (Required in case jsonp request)
          required: false
          type: string
          enum:
            - callback_name
        - name: store_id
          in: query
          description: 'Store code (8digit) You can specify multiple ids separated by commas. Examples: "10101525", "10101267,10101424" (multiple comma seprated)'
          required: true
          type: string
          enum:
            - '10100158'
            - '10101525'
            - '107844'
            - '10101267,10101424'
        - name: plu_code
          in: query
          description: Price look up code (12 or 13 digit). __either of sku_code and plu_code is required.__
          required: false
          type: string
          enum:
            - '2000042676599'
            - '2000051335487'
        - name: sku_code
          in: query
          description: 'Stock keeping unit code. This API supports 3 patterns. __either of sku_code and plu_code is required.__ Examples: (1) L1 item code (6 or 7 digit) : "087455"  (2) L2 SKU code ({L1 item code}-{Color code}-{Size code}-{pattern length code}) : "087455-01-030-000" (3) L3 SKU code ({L2 SKU code}-{year code}-{season-code}-{cost-number})'
          required: false
          type: string
          enum:
            - '075235'
            - '075235-13'
            - '075235-13-003'
            - '075235-13-003-000'
            - '075235-13-003-000-3-2-1'
        - name: type
          in: query
          description: 'Specify output keys. If you specify "price_range", API unset other keys.'
          required: false
          type: string
          enum:
            - price_range
      tags:
        - Store Status
      responses:
        '200':
          description: An object containing the store catalog detail
          examples:
            application/json: |-
              {
                "statuses": [
                  {
                    "10100158": {
                      "store_id": "10100158",
                      "last_update": 1440053106,
                      "price_range": {
                        "min": 190,
                        "max": 190
                      },
                      "items": [
                        {
                          "plu_code": "2000042676599",
                          "sku_code": "075235-13-003-000-3-2-1",
                          "stock_status": 2,
                          "price": 190,
                          "limited_price": 0,
                          "limited_price_end": "",
                          "mobile_price": 0,
                          "bulk_purchase_flg": 0
                        }
                      ]
                    }
                  }
                ]
              }
          schema:
            type: object
            $ref: '#/definitions/StoreStatus'
        default:
          description: Unexpected error
          schema:
            type: object
            $ref: '#/definitions/Error'
parameters:
  localeParam:
    name: locale
    in: path
    description: A two letter code representing the country name
    required: true
    type: string
    enum:
      - jp
      - uk
      - us
      - cn
      - de
      - sg
      - hk
      - th
      - fr
      - kr
      - ph
      - id
      - my
  brandParam:
    name: brand
    in: path
    description: Brand code for which store catalog is to be retrieved
    required: true
    type: string
    enum:
      - uq
      - gu
  versionParam:
    name: version
    in: path
    description: A number representing the API revision to be used
    required: true
    type: integer
    enum:
      - 200
  clientId:
    name: client_id
    in: query
    description: 'A string representing the origin of the current request, generally known as referrer (connection source)'
    required: true
    type: string
    enum:
      - test_swagger
definitions:
  StoreStatus:
    type: object
    properties:
      statuses:
        type: array
        description: An array containg the complete result set.
        items:
          $ref: '#/definitions/Status'
  Status:
    type: object
    properties:
      store:
        type: object
        description: store data
        $ref: '#/definitions/StoreData'
  StoreData:
    type: object
    properties:
      store_id:
        type: integer
        description: 8-digit Store ID
      last_update:
        type: string
        description: Timestamp of status update
      price_range:
        type: object
        description: Price range
        $ref: '#/definitions/PriceRange'
      items:
        type: array
        description: An array containg the items
        items:
          $ref: '#/definitions/item'
  PriceRange:
    type: object
    properties:
      min:
        type: integer
        description: Min price of search results
      max:
        type: integer
        description: Maximum price of search results
  item:
    type: object
    properties:
      plu_code:
        type: integer
        description: Price look up code (12 or 13 digit).
      sku_code:
        type: integer
        description: Stock keeping unit code(L3 SKU).
      stock_status:
        type: integer
        description: status 1= nothing 2= small quantity 3= existing 4= not publish an inventory of the store 5= not publish an inventory of this product
      price:
        type: integer
        description: current unit price
      limited_price:
        type: integer
        description: Limited price
      limited_price_end:
        type: integer
        description: End datetime of limited price
      mobile_price:
        type: integer
        description: Mobile site price
      bulk_purchase_flg:
        type: integer
        description: Flag whether bulk buying is supported or not.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: A number describing the error code
      message:
        type: string
        description: An error message describing the details of the error that occured
