---
  swagger: "2.0"
  info:
    version: "v1"
    title: "Wishlist Component"
    description: "http://itwiki.g1.frgroup/display/DM/20-19.+Wishlist+PF"
    contact:
      name: "Wishlist PF Team"
      url: "http://itwiki.g1.frgroup/display/DM/03.+APIs"
      email: "kristian.faeldt@fastretailing.com"
  host: "api.fastretailing.com"
  basePath: "/wishlist"
  schemes:
    - "https"
  consumes:
    - "application/json"
  produces:
    - "application/json"
  parameters:
    type:
      name: "type"
      in: "path"
      description: "Either items or styles wishlist"
      type: "string"
      required: true
      default: "items"
      enum:
        - "items"
        - "styles"
    wishlistId:
      name: "wishlistId"
      in: "path"
      description: "Identifies the wishlist"
      type: "string"
      required: true
      default: "0000000000000"
    destWishlistId:
      name: "wishlistId"
      in: "query"
      description: "Identifies the destination wishlist"
      type: "string"
      required: true
      default: "0000000000000"
    wishlistName:
      name: "wishlistName"
      description: "The name of the wishlist"
      in: "path"
      type: "string"
      required: true
      default: "Wishlist1"
    checkType:
      name: "checkType"
      description: "outputs true if the types are the same and false if not"
      in: "query"
      type: "string"
      required: true
      default: "true"
      enum:
        - "true"
        - "false"
    accessToken:
      name: "accessToken"
      in: "path"
      description: "Identifies the user"
      type: "string"
      required: true
      default: "00000000000000"
    itemId:
      in: "path"
      name: "itemId"
      description: "identifies the items"
      type: "string"
      default: "1234"
      required: true
    listItemId:
      in: "query"
      name: "itemId"
      description: "identifies the items"
      type: "array"
      format: "string"
      required: true
      default: ["123456789","45325","532653463","54325"]
    styleId:
      in: "path"
      name: "styleId"
      description: "identifies the styles"
      type: "string"
      default: "4321"
      required: true
    listStyleId:
      in: "path"
      name: "styleId"
      description: "identifies the styles"
      type: "array"
      format: "string"
      required: true
      default: ["45325","532653463"]
    items:
      in: "query"
      name: "items"
      description: "items inside the wishlist"
      type: "array"
      format: "string"
      required: false
      default: ["brownshoes","black shoes","red shoes","horse shoes"]
    styles:
      in: "query"
      name: "styles"
      description: "styles inside the wishlist"
      type: "array"
      format: "string"
      required: false
      default: ["autumn","spring"]
    sort:
      in: "query"
      name: "sort"
      description: "sort the display"
      type: "string"
      required: true
      default: "latest"
      enum:
        - "latest"
        - "oldest"
    filter:
      in: "query"
      name: "filter"
      description: "filter the display"
      type: "string"
      required: false
      default: "none"
      enum:
        - "color:red"
        - "color:blue"
        - "color:green"
        - "size:XL"
        - "size:L"
    styleFilter:
      in: "query"
      name: "filter"
      description: "filter the display"
      type: "string"
      required: false
      default: "none"
      enum:
        - "all-color:red"
        - "all-color:blue"
        - "all-color:green"
        - "at-least-one:red"
        - "at-least-one:blue"
        - "at-least-one:green"
        - "dont-have:red"
        - "dont-have:blue"
        - "dont-have:green"
        - "all-size-have:XL"
        - "all-size-have:L"
        - "at-least-one:XL"
        - "at-least-one:L"
        - "dont-have:XL"
        - "dont-have:L"
    q:
      in: "query"
      name: "q"
      description: "Full-text search query"
      type: "string"
      required: false
    memoId:
      in: "path"
      name: "memoId"
      description: "Memo for individual item or style"
      type: "string"
      required: false
      default: "none"
    commentId:
      in: "path"
      name: "commentId"
      description: "Comment for the entire wishlist"
      type: "string"
      required: false
      default: "none"
    brand:
      in: "path"
      name: "brand"
      description: "specific brand"
      type: "string"
      required: true
      default: "uq"
      enum:
        - "uq"
        - "gu"
        - "cdc"
        - "ltc"
        - "jb"
    region:
      in: "path"
      name: "region"
      description: "specific country"
      required: "true"
      type: "string"
      default: "jp"
      enum:
        - "jp"
        - "us"
        - "ph"
        - "kr"
        - "cn"
        - "ru"
        - "hk"
        - "tw"
        - "sg"
        - "my"
        - "th"
        - "id"
        - "au"
        - "uk"
        - "fr"
        - "de"
        - "be"
    version:
      in: "path"
      name: "version"
      description: "version 1,2,3,4,5,6"
      required: true
      type: "string"
      default: "v1"
      enum:
        - "v1"
        - "v2"
        - "v3"
        - "v4"
        - "v5"
        - "v6"
        - "v7"
        - "v8"
        - "v9"
        - "v10"

  paths:
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{wishlistName}/wishlistType/{type}/{commentId}/detail:
      get:
        tags: ["Wishlist","GET","List"]
        responses:
          200:
            description: "Show Wishlist details"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/wishlistName"
          -
            $ref: "#/parameters/sort"
          -
            $ref: "#/parameters/type"
          -
            $ref: "#/parameters/commentId"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{wishlistName}/wishlistType/{type}/create:
      post:
        tags: ["Wishlist","POST","List"]
        responses:
          200:
            description: "Create the Wishlist"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistName"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/type"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{wishlistName}/wishlistType/{type}/update:
      put:
        tags: ["Wishlist","PUT","List"]
        responses:
          200:
            description: "Update the Wishlist"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/wishlistName"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/type"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{wishlistName}/delete:
      delete:
        tags: ["Wishlist","DELETE","List"]
        responses:
          200:
            description: "Delete the Wishlist"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/wishlistName"
          -
            $ref: "#/parameters/accessToken"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{wishlistName}/clone:
      post:
        tags: ["Wishlist","POST","List"]
        responses:
          200:
            description: "Clone the Wishlist"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/wishlistName"
          -
            $ref: "#/parameters/accessToken"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/merge:
      put:
        tags: ["Wishlist","PUT","List"]
        responses:
          200:
            description: "Merge the Wishlist"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/destWishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/checkType"


    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/item/detail:
      get:
          tags: ["Items","GET","List"]
          responses:
            200:
              description: "Wishlist Item details"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/listItemId"
            -
              $ref: "#/parameters/sort"
            -
              $ref: "#/parameters/filter"
            # -
            #   $ref: "#/parameters/items"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/single/item/{itemId}/memo/{memoId}/detail:
      get:
          tags: ["Items","Memo","GET","List"]
          responses:
            200:
              description: "Wishlist single item details"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/itemId"
            -
              $ref: "#/parameters/memoId"
            # -
            #   $ref: "#/parameters/items"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{itemId}/create:
      post:
          tags: ["Items","POST","List"]
          responses:
            200:
              description: "Put new item in the wishlist"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/itemId"
            # -
            #   $ref: "#/parameters/items.SKU.Color"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{itemId}/update:
      put:
          tags: ["Items","PUT","List"]
          responses:
            200:
              description: "update the item length and size in the wishlist (if color is updated create new item with same itemId[call create api not update])"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/itemId"
            -
              $ref: "#/parameters/destWishlistId"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{itemId}/move:
      put:
          tags: ["Items","PUT","List"]
          responses:
            200:
              description: "moves one item from one wishlist into another wishlist [call delete api on that wishlist itemid]"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/itemId"
            -
              $ref: "#/parameters/destWishlistId"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{itemId}/delete:
      delete:
          tags: ["Items","DELETE","List"]
          responses:
            200:
              description: "Deletes item in the wishlist"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/itemId"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/style/detail:
      get:
          tags: ["Styles", "GET","List"]
          responses:
            200:
              description: "Show the Styles in the wishlist and filters and/or sort"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/sort"
            -
              $ref: "#/parameters/styleFilter"
            -
              $ref: "#/parameters/listStyleId"
            # -
            #   $ref: "#/parameters/styles"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/single/style/{styleId}/memo/{memoId}/detail:
      get:
          tags: ["Styles","Memo","GET","List"]
          responses:
            200:
              description: "Wishlist single style details"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/styleId"
            -
              $ref: "#/parameters/memoId"
            # -
            #   $ref: "#/parameters/items"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{styleId}/create:
      post:
          tags: ["Styles","POST","List"]
          responses:
            200:
              description: "Puts a new style in the wishlist"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/styleId"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{styleId}/move:
        put:
          tags: ["Styles","PUT","List"]
          responses:
            200:
              description: "moves one styles from one wishlist into another wishlist [call delete api on that wishlist styleId]"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/styleId"
            -
              $ref: "#/parameters/destWishlistId"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{styleId}/delete:
      delete:
          tags: ["Styles","DELETE","List"]
          responses:
            200:
              description: "Deletes style in the wishlist"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              $ref: "#/parameters/wishlistId"
            -
              $ref: "#/parameters/accessToken"
            -
              $ref: "#/parameters/styleId"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/item/{itemId}/memo/{memoId}/create:
      post:
        tags: ["Memo","Items","POST","List"]
        responses:
          200:
            description: "add memo for the individual item"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/itemId"
          -
            $ref: "#/parameters/memoId"
          # -
          #   $ref: "#/parameters/"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/item/{itemId}/memo/{memoId}/update:
      put:
        tags: ["Memo","Items","PUT","List"]
        responses:
          200:
            description: "update memo for the individual item"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/itemId"
          -
            $ref: "#/parameters/memoId"
          # -
          #   $ref: "#/parameters/"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/item/{itemId}/memo/{memoId}/delete:
      put:
        tags: ["Memo","Items","DELETE","List"]
        responses:
          200:
            description: "delete memo for the individual item"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/itemId"
          -
            $ref: "#/parameters/memoId"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/style/{styleId}/memo/{memoId}/create:
      post:
        tags: ["Memo","Styles","POST","List"]
        responses:
          200:
            description: "add memo for the individual style"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/styleId"
          -
            $ref: "#/parameters/memoId"
          # -
          #   $ref: "#/parameters/"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/item/{itemId}/memo/{memoId}/update:
      put:
        tags: ["Memo","Styles","PUT","List"]
        responses:
          200:
            description: "update memo for the individual style"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/styleId"
          -
            $ref: "#/parameters/memoId"
          # -
          #   $ref: "#/parameters/"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/item/{itemId}/memo/{memoId}/delete:
      delete:
        tags: ["Memo","Styles","DELETE","List"]
        responses:
          200:
            description: "delete memo for the individual item"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/itemId"
          -
            $ref: "#/parameters/memoId"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/comment/{commentId}/create:
      post:
        tags: ["Comment","Wishlist","POST","List"]
        responses:
          200:
            description: "memo for individual styles"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/commentId"
          # -
          #   $ref: "#/parameters/"
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/comment/{commentId}/update:
      put:
        tags: ["Comment","Wishlist","PUT","List"]
        responses:
          200:
            description: "memo for individual styles"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/commentId"

    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/comment/{commentId}/delete:
      delete:
        tags: ["Comment","Wishlist","DELETE","List"]
        responses:
          200:
            description: "memo for individual styles"
        parameters:
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/commentId"
# share api
    /{version}/{brand}/{region}/{wishlistId}/{accessToken}/{wishlistName}/wishlistType/{type}/{commentId}/share/{snsSite}:
      post:
        tags: ["Wishlist","Share","POST","List"]
        responses:
          200:
            description: "Show Wishlist details"
        parameters:
          -
            in: "path"
            name: "snsSite"
            description: "This the Social Network Sharing API"
            type: "string"
            default: "fb"
            enum:
              - "fb"
              - "tw"
              - "line"
              - "linkedin"
          -
            $ref: "#/parameters/version"
          -
            $ref: "#/parameters/brand"
          -
            $ref: "#/parameters/region"
          -
            $ref: "#/parameters/wishlistId"
          -
            $ref: "#/parameters/accessToken"
          -
            $ref: "#/parameters/wishlistName"
          -
            $ref: "#/parameters/sort"
          -
            $ref: "#/parameters/type"
            # search
    /{version}/{brand}/{region}/{allWishlistId}/{accessToken}/search:
      get:
          tags: ["Search","GET","List"]
          responses:
            200:
              description: "Wishlist single item details"
          parameters:
            -
              $ref: "#/parameters/version"
            -
              $ref: "#/parameters/brand"
            -
              $ref: "#/parameters/region"
            -
              in: "path"
              name: "allWishlistId"
              description: "A search for wishlistId available for the user authenticated using access token"
              type: "array"
            -
              $ref: "#/parameters/accessToken"
            -
              in: "query"
              name: "itemIdOrStyleId"
              description: "A search for all item id or style id"
              type: "array"
            -
              in: "query"
              name: "memoQuery"
              description: "Query the memo using wishlist Id and Item or style id"
              type: "array"
                  #TODO: search ok
                  #TODO: ranking
                  #TODO: External API
